.singular-daily-news-container {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
}

.separate-news {
    padding-top: 20px;
}

.published {
    text-align: center;
}

span {
    color: white;
}

span:nth-child(1),
span:nth-child(2) {
    opacity: .7;
    color: silver;
    font-weight: 600;
}

span:nth-child(1) {
    border-right: 1px solid #007bff;
    padding-right: 10px;
    margin-right: 10px;
}

span:nth-child(2) {
    margin-right: 10px;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    margin-right: 10px;
}

.author h5 {
    margin-bottom: 0;
    color: white;
}

.author span {
    opacity: .7;
    color: silver;
    border: none;
    margin-right: 0;
    padding-right: 0;
    font-size: 20px;
}

.title {
    margin-top: 20px;
    text-align: center;
    color: white;
    opacity: .7;
}

.content {
    margin-top: 30px;
}

.content img{
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 20px;
}

.content .description,
.content .content-text {
    color: white;
    font-size: 25px;
    font-weight: 400;
}