.footer-container {
    width: 100%;
    color: white;
    margin-top: auto;
    
    .row {
        margin-top: 20px;
        justify-content: center;

        ul {
            height: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
    
            a {
                text-align: left;
                transition: all .2s ease-in-out;
                color: white;
                margin-right: 10px;
    
                &:hover {
                    text-decoration: none;
                    color: #007bff;
                    border-bottom: none;
                }
            }
        }
    }

    .social-media {
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .fa {
            font-size: 26px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;

            &:hover {
                cursor: pointer;
            }
        }

        .fa-youtube-play {

            &:hover {
                color: #c4302b;
            }
        }

        .fa-facebook {

            &:hover {
                color: #3b5998;
            }
        }

        .fa-twitter {

            &:hover {
                color: #00acee;
            }
        }

        .fa-instagram {

            &:hover {

                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    
    .contact-form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        form {
            width: 70%;
            
            input {
                background-color: transparent;
                border-bottom: 1px solid #007bff;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                width: inherit;
    
                &:focus {
                    border-radius: 5px;
                    padding-left: 12px;
                    color: white;
                    font-style: italic;
                }
            }
        }
    }

    .copyright {
        text-align: center;
        font-size: .7rem;  
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 991px){
    .footer-container .row ul {
        justify-content: center;
    }
}


