.header-container {
    height: 60px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

ul {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}

ul a {
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;
    margin-right: .2rem;
}

ul a:hover {
    text-decoration: none;
    color: #007bff;
    border-bottom: 1px solid #007bff;
}

.home-btn {
    text-decoration: none;
    color: white;
}

.home-btn:hover {
    text-decoration: none;
    color: white;
}

img {
    width: 500px;
    height: 300px;
}