.header-container {
    height: 60px;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        position: relative;

        .hamburger-mobile {
            position: absolute;
            display: none;
        }

        .nav-mobile {
            display: none;
            position: absolute;
        }

        .home-btn {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }

        .main-menu {
            display: flex;
            width: 500px;
            justify-content: space-evenly;

            a {
                text-align: center;
                color: white;
                transition: all .2s ease-in-out;
                margin-right: .2rem;

                &:hover {
                    text-decoration: none;
                    color: #007bff;
                    border-bottom: 1px solid #007bff;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header-container nav {

        .main-menu {
            opacity: 0;
            display: none;
        }

        .hamburger-mobile {
            opacity: 1;
            position: absolute;
            top: 20px;
            right: 15px;
            display: block;

            .fa {
                font-size: 30px;
            }

            .fa-times {
                display: none;
            }
        }

        .changeHamburgerMobile .fa-times {
            display: block;
        }

        .changeHamburgerMobile .fa-bars {
            display: none;
        }

        .nav-mobile {
            position: absolute;
            top: 0;
            right: 30px;
        }

        .changeNavMobile {
            display: block;
        }
    }
}
