.header-container {
    height: 60px;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        
        .hamburger-menu {
            position: absolute;
            display: none;
        }

        .home-btn {
            text-decoration: none;
            color: white;

            &:hover {
                text-decoration: none;
                color: white;
            }
        }

        ul {
            display: flex;
            width: 500px;
            justify-content: space-evenly;

            a {
                text-align: center;
                color: white;
                transition: all .2s ease-in-out;
                margin-right: .2rem;

                &:hover {
                    text-decoration: none;
                    color: #007bff;
                    border-bottom: 1px solid #007bff;
                }
            }
        }
    }
}
