.slider {
    margin-top: 30px;

    .slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 500px;
            height: 300px;
        }
    }
}
