.login-container {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        
        form {
            width: 50%;
             -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            background-color: white;
            z-index: 20;

            .background {
                position: relative;
                background: url('../../images/login-bck.jpg');
                background-size: cover;
                height: 150px;
                background-position: center;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                h3 {
                    position: absolute;
                    top: -3px;
                    color: white;
                    font-size: 2.8rem;
                }
            }

            .input-container {
                width: 65%;
                margin: 30px auto 1rem;
                position: relative;

                input {
                    font-size: 15px;
                    width: 100%;
                    padding: 10px 0 10px 30px;
                }

                .fa {
                    position: absolute;
                    left: 4px;
                    top: 12px;
                    font-size: 1rem;
                }
            }

            .options {
                margin: 15px auto;
                width:70%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                font-size: 15px;

                .remember-me-cont {
                    flex: 0 1 50%;
                }

                .forgot-password {
                    transition: all .2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: #007bff !important;
                    }
                }
            }

            .div-cont {
                width: 65%;
                margin: 0 auto 5px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .login-container main {

        form {
            width: 70%;
        }
    }

    .footer-container .social-media {
        justify-content: center;

        .fa {
            margin-right: 25px;
        }
    }

    .footer-container .contact-form-wrapper {

        align-items: center;
        margin: 20px 0 20px;
        form {
            width: initial;

            input {
                width: 160px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .login-container main {

        form {
            width: 100%;
        }
    }
    
    .footer-container .social-media {
        justify-content: center;

        .fa {
            margin-right: 25px;
        }
    }

    .footer-container .contact-form-wrapper {

        align-items: center;
        margin: 20px 0 20px;

        form {
            width: initial;

            input {
                width: 160px;
            }
        }
    }
}

@media only screen and (max-width: 414px)  {
    .login-container main form .options {
        margin: 0 auto 7px;
        display: flex;
        flex-direction: column;
        width: 64%;

        label {
            margin-bottom: 0;
        }
    }
}


