.register-container {
    background: #0F2027;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#2C5364), color-stop(#203A43), to(#0F2027));
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    flex-direction: column;
    display: flex;
    min-height: 100vh;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        
        .register-form {
            background-color: white;
            max-width: 400px;
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
            padding: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            font-size: 10px;

            h1,
            p {
                text-align: center;
            }

            p {
                font-size: 1.3em;
            }

            .all-inputs {
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .input-container {
                    position: relative;
                    width: 90%;

                    .field-alert {
                        color: red;
                        margin: 5px 5px 0;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .fa-exclamation-circle {
                            position: static;
                            top: none;
                            left: none;
                            font-size: 15px;
                        }

                        span {
                            line-height: 30px;
                        }
                    }

                    input {
                        width: inherit;
                        border-bottom: 1px solid silver;
                        padding-left: 30px;
                        padding-bottom: 6px;
                        z-index: 10;
                    }

                    .fa {
                        font-size: 2em;
                        position: absolute;
                        top: -3px;
                        left: 3px;
                        z-index: 20;
                    }

                    .fa-paper-plane {
                        font-size: 1.7em;
                        left: 2px;
                    }
                }
            }

            .btn-primary {
                margin: 15px 0;
            }

            .privacy {
                margin: 0 auto;
                width: 85%;
                text-align: center;
            }

            .privacy a {
                color: #007bff !important;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .register-container main .register-form {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    h1 {
        font-size: 1.5rem;
    }

    .register-container main .register-form .btn-primary {
        margin: 15px auto;
        width: 40%;
    }
}