.singular-daily-news-container {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .separate-news {
        padding-top: 20px;

        .published {
            text-align: center;

            span {
                color: white;

                &:nth-child(1), 
                &:nth-child(2) {
                    opacity: .7;
                    color: silver;
                    font-weight: 600;
                }

                &:nth-child(1) {
                    border-right: 1px solid #007bff;
                    padding-right: 10px;
                    margin-right: 10px;
                }

                &:nth-child(2) {
                    margin-right: 10px;
                }
            }
        }

        .author {
            display: flex;
            align-items: center;
            
            img {
                width: 30px;
                height: 30px;
                background: transparent;
                border-radius: 50%;
                margin-right: 10px;
            }

            h5 {
                margin-bottom: 0;
                color: white;
            }

            span {
                opacity: .7;
                color: silver;
                border: none;
                margin-right: 0;
                padding-right: 0;
                font-size: 20px;
            }
        }

        .title {
            margin-top: 20px;
            text-align: center;
            color: white;
            opacity: .7;
        }

        .content {
            margin-top: 30px;

            img {
                width: 400px;
                height: auto;
                float: left;
                margin-right: 20px;
            }
            
            .description,
            .content-text {
                color: white;
                font-size: 21px;
                font-weight: 400;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .singular-daily-news-container {
        .separate-news {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .published,
            .author h5{
                font-size: 17px;
            }

            .title h3 { font-size: 20px; }

            .content {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                img {
                    width: 300px;
                    margin-bottom: 10px;
                    margin-right: 0;
                }

                .description,
                .content-text {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }

    .title h3 {
        font-size: 1.5rem;
    }
}
