@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1300px !important;
}